<div id="basics" class="flashcards-container active">
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <div>
                    <p>What is the max number of players per team on the field at any given time?</p>
                </div>
            </div>
            <div class="flashcard-back">
                <p>Eleven</p>
                <p>If a team has more than this they draw a "too many men on the field" penalty worth 5 yards</p>
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>Which team won the super bowl in the 2024-2025 season?</p>
            </div>
            <div class="flashcard-back">
                <p>The Philadelphia Eagles</p>
                <img src="images/eagleswin.jpg" alt="Handsome Jalen Hurts holding the Lombardi trophy" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>Which player has the most super bowl wins in their career</p>
            </div>
            <div class="flashcard-back">
                <p>Tom Brady won 7 super bowl rings during his 23 seasons in the NFL</p>
                <p>He won 6 super bowls with the New England Patriots and 1 more with the Tampa Bay Buccaneers</p>
                <img src="images/brady-rings.jpg" alt="Tom Brady poses with his 7 super bowl rings." style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <!--End Basics Flashcards-->
</div>