<div id="concepts" class="flashcards-container">
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is dagger concept?</p>
            </div>
            <div class="flashcard-back">
                <p>a 3-man combo: a vertical route from the slot WR, a drag from the weak side, and a deep dig or square-in from the primary target</p>
                <img src="images/dagger-pic.webp" alt="Diagram of a dagger concept" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is drive concept?</p>
            </div>
            <div class="flashcard-back">
                <p>High low concept with a deep dig from the inside receiver and a shallow cross from the outside reciever</p>
                <img src="images/drive-concept.jpg" alt="Diagram of a drive concept" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is four verticals?</p>
            </div>
            <div class="flashcard-back">
                <p>Passing concept where four receivers all go deep. Typically used in low time, high yardage situations where a big completion is neccesary.</p>
                <img src="images/four-verticals.jpg" alt="Diagram of a dagger concept" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is mesh concept?</p>
            </div>
            <div class="flashcard-back">
                <p>Simple crossing pattern two wide receivers crossing underneath at a mesh point. Usually tight end and slot receiver. If cover 2 change outside receiver to a post. Good against man and cover 4</p>
                <img src="images/mesh-concept.jpg" alt="Diagram of a mesh concept" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is mills concept?</p>
            </div>
            <div class="flashcard-back">
                <p>The outside receiver runs a deep post and the inside runs a dig route. Great way to attack cover 4. Works against cover 1 and 3.</p>
                <img src="images/mills-concept.webp" alt="Diagram of a mesh concept" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
</div>