<div id="penalties" class="flashcards-container">
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is Defensive Pass Interference (DPI)?</p>
            </div>
            <div class="flashcard-back">
                <p>When a defensive player significantly hinders an eligible offensive player's ability to catch a pass. Results in a spot foul and automatic first down.</p>
                <p>In college football the maximum yardage gained from a DPI is 15 yards</p>
            </div>
        </div>
    </div>
</div>
<!--End Penalties Flashcards-->