<div id="positions" class="flashcards-container">
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>Who is a center?</p>
            </div>
            <div class="flashcard-back">
                <p> Designated below with a "C", the center plays in the middle of the offensive line. They snap the ball to the quarterback to initiate the play. Typically standing between 6'2 and 6'4 and weighing between 280-340 lbs, centers tend to be quite large. They are also prized for their toughness, as continuity is very important in this position given their important interactions with the quarterback.</p>
                <img src="../images/center.jpg" alt="Diagram of a formation with center" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
</div>
<!--End Positions Flashcards-->