<div id="routes" class="flashcards-container">
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a slant route?</p>
            </div>
            <div class="flashcard-back">
                <p>a slant route is a short, quick route where a receiver runs a few steps forward, then cuts sharply across the middle of the field at a 45-degree angle</p>
                <img src="images/slant-route.jpg" alt="Diagram of a slant route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a drag route?</p>
            </div>
            <div class="flashcard-back">
                <p>similar to a slant route, a drag route is when a receiver takes a few steps downfield and then breaks towards the middle. It has a more "flat" trajectory from sideline to sideline than the angled route taken on a slant.</p>
                <img src="images/drag-route.jpg" alt="Diagram of a slant route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a flat route?</p>
            </div>
            <div class="flashcard-back">
                <p>a basic, short route where a receiver, often a running back, tight end, or slot receiver, runs a few steps forward before quickly breaking outside towards the sideline. This route is typically used to create an early, short passing option or to draw defenders towards the sideline, creating space for other routes. </p>
                <img src="images/flat-route.jpg" alt="Diagram of a slant route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a comeback route?</p>
            </div>
            <div class="flashcard-back">
                <p>a comeback route is a route where a receiver sprints downfield before turning back towards the sideline. It is typically only run by an outside receiver because in conjucnction with a back-shoudler throw it becomes very difficult for the defender to reach. </p>
                <img src="images/comeback-route.jpg" alt="Diagram of a comeback route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a curl route?</p>
            </div>
            <div class="flashcard-back">
                <p> Also called a stop route, a curl route is when a receiver the receiver sprints directly downfield, then stop and curl back to the inside of the field, away from the closest sideline. Often used in conjunction with a comeback route</p>
                <img src="images/curl-route.jpg" alt="Diagram of a curl route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is an out route?</p>
            </div>
            <div class="flashcard-back">
                <p> An out route is similar to a flat route but run at much greater depth. The receiver runs 10-15 yards downfield and then breaks towards the sideline. Typically receivers catch this ball very clsoe to the sideline.</p>
                <img src="images/out-route.jpg" alt="Diagram of an out route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is an in/dig route?</p>
            </div>
            <div class="flashcard-back">
                <p> An in/dig route is a route where the receiver runs 10-15 yards straight downfield and then breaks towards the center of the field. </p>
                <img src="images/dig-route.jpg" alt="Diagram of an out route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a corner route?</p>
            </div>
            <div class="flashcard-back">
                <p> A corner route is a route where the receiver runs 10-15 yards straight downfield and then breaks outwards towards the deep outside corner of the field. This route can alleviate pressure from the middle of the field by drawing defenders towards the corner. </p>
                <img src="images/corner-route.jpg" alt="Diagram of an out route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a post route?</p>
            </div>
            <div class="flashcard-back">
                <p> A post route is when the receiver runs 10-15 yards downfield and then breaks in towards the middle of the field.  </p>
                <img src="images/post-route.jpg" alt="Diagram of a post route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
    <div class="flashcard" onclick="flipCard(this)">
        <div class="flashcard-inner">
            <div class="flashcard-front">
                <p>What is a go/fly route?</p>
            </div>
            <div class="flashcard-back">
                <p> A go/fly route is when a receiver runs as fast and as straight as they can downfield. The goal is to trick a defender into thinking that they will break and create seperation with speed. </p>
                <img src="images/go-route.jpg" alt="Diagram of a go/fly route" style="display: block; margin: 10px auto;">
            </div>
        </div>
    </div>
</div>